{% set external_identifiers = karabiner_external_keyboard_identifiers | to_json %}
{
  "global": {
    "check_for_updates_on_startup": true,
    "show_in_menu_bar": true,
    "show_profile_name_in_menu_bar": false
  },
  "profiles": [
    {
      "name": "{{ karabiner_profile_name }}",
      "selected": true,
      "simple_modifications": [],
      "fn_function_keys": [],
      "complex_modifications": {
        "parameters": {
          "basic.simultaneous_threshold_milliseconds": 50,
          "basic.to_delayed_action_delay_milliseconds": 500,
          "basic.to_if_alone_timeout_milliseconds": 1000,
          "basic.to_if_held_down_threshold_milliseconds": 500,
          "mouse_motion_to_scroll.speed": 100
        },
        "rules": [
          {
            "description": "Swap left Super and left Alt to keep Ctrl Option Command order on external keyboard",
            "manipulators": [
              {
                "type": "basic",
                "from": {
                  "key_code": "left_command",
                  "modifiers": {
                    "optional": ["any"]
                  }
                },
                "to": [
                  {
                    "key_code": "left_option"
                  }
                ],
                "conditions": [
                  {
                    "type": "device_if",
                    "identifiers": {{ external_identifiers }}
                  }
                ]
              },
              {
                "type": "basic",
                "from": {
                  "key_code": "left_option",
                  "modifiers": {
                    "optional": ["any"]
                  }
                },
                "to": [
                  {
                    "key_code": "left_command"
                  }
                ],
                "conditions": [
                  {
                    "type": "device_if",
                    "identifiers": {{ external_identifiers }}
                  }
                ]
              }
            ]
          },
          {
            "description": "Swap AltGr+3 and Shift+3 in Google Chrome so Gmail delete shortcut works",
            "manipulators": [
              {
                "type": "basic",
                "from": {
                  "key_code": "3",
                  "modifiers": {
                    "mandatory": ["right_option"]
                  }
                },
                "to": [
                  {
                    "key_code": "3",
                    "modifiers": ["left_shift"]
                  }
                ],
                "conditions": [
                  {
                    "type": "device_if",
                    "identifiers": {{ external_identifiers }}
                  },
                  {
                    "type": "frontmost_application_if",
                    "bundle_identifiers": [
                      "^com\\.google\\.Chrome$"
                    ]
                  }
                ]
              },
              {
                "type": "basic",
                "from": {
                  "key_code": "3",
                  "modifiers": {
                    "mandatory": ["shift"]
                  }
                },
                "to": [
                  {
                    "key_code": "3",
                    "modifiers": ["right_option"]
                  }
                ],
                "conditions": [
                  {
                    "type": "device_if",
                    "identifiers": {{ external_identifiers }}
                  },
                  {
                    "type": "frontmost_application_if",
                    "bundle_identifiers": [
                      "^com\\.google\\.Chrome$"
                    ]
                  }
                ]
              }
            ]
          }
        ]
      },
      "virtual_hid_keyboard": {
        "keyboard_type_v2": "iso",
        "caps_lock_delay_milliseconds": 0
      },
      "devices": []
    }
  ]
}
